#deps {
	font-weight: bold;
}

table#results, table#calling-mult {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.train {
	background-color: #49f;
}

.upcoming td {
	background-color: #49f;
}
.to-pass td {
	background-color: #8bf !important;
}
.passed td {
	background-color: #6af !important;
}
.actual td {
	background-color: #258 !important;
}

#results td, #calling td {
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	padding: 4px 0px 4px 0px;
	border-top: 1px solid #8bf;
	border-bottom: 1px solid #8bf;
}

#calling-mult td {
	text-align: center;
	overflow: initial;
	white-space: initial;
	white-space: nowrap;
	overflow: hidden;
}

#calling-mult td.sta {
	border-top: 1px solid #8bf;
	padding: 4px 0px 2px 0px;
}

#calling-mult td.times {
	border-bottom: 1px solid #8bf;
	padding: 0px 0px 4px 0px;
}

tr[data-selected=true] td {
	/*border-color: #49f !important;*/
}

td div {
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}
#results td:nth-child(2), #calling td:nth-child(2) {
	padding: 0px 5px 0px 5px;
}

tr.cancel td {
	white-space: normal !important;
}

.ontime {
}
.delayed {
}
.cancelled {
}

body {
	margin: 0px;
	padding: 0px;
	color: #eee;
	background-color: #333;
}

#results col.l, #results col.r, #calling col.l, #calling col.r {
	width: 19%
}

tr[data-selected="true"] {
	background-color: #258;
}

table#calling {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

.nav-keys {
	z-index: 10;
	color: white;
	background-color: black;
	position: fixed;
	bottom: 0;
}
.nav-keys table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

p {
	margin: 10px 0px 10px 0px;
}

.hidden {
	visibility: hidden;
}

span.platform {
	position: absolute;
	right: 0px;
	background-color: #49f;
	font-size: 11px;
	bottom: -2px;
	border-radius: 3px;
}
tr[data-selected=true] span.platform {
	background-color: #258;
}

span.operator {
	position: absolute;
	right: 0px;
	font-size: 11px;
	top: -2px;
	border-radius: 3px;
}

.SR { background-color: #1c4074; } /* scotrail */
.CS { background-color: rgb(0, 57, 65); } /* caledonian sleeper */
.EM { background-color: rgb(71, 20, 58); } /* east midlands */
.NT { background-color: #262262; } /* northern */
.GR { background-color: #ce0e2d; } /* lner */
.TP { background-color: #0384b7; } /* tpe modified */
.XC { background-color: #880038; } /* cross country */
.GW { background-color: #0a493e; } /* gwr */
.LO { background-color: rgb(239, 123, 16); } /* london overground */
.LE { background-color: #aaa; } /* greater anglia */
.GX { background-color: #c82828; } /* gatwick express */
.HX { background-color: #5d226c; } /* heathrow express */
.SW { background-color: #24398c; } /* south western */
.SE { background-color: #00afe8; } /* south eastern */
.SN { background-color: #8cc63e; } /* southern */
.XR { background-color: rgb(0, 25, 168); } /* tfl rail */
.LM { background-color: #ff8200; } /* west midlands */
.ES { background-color: #ffd700; color:black; } /* eurostar */
.TL { background-color: #aaa; } /* thameslink */
.VT { background-color: #000; } /* west coast */
.AW { } /* wales */
.GN { } /* great northern */
/* https://en.wikipedia.org/wiki/Wikipedia:WikiProject_UK_Railways/Colours_list#Current_UK_train_operating_companies */

span.via {
	color: rgba(255,255,255,0.65);
}
tr.mult-train.sta td.sta:first-child {
	border-right: 1px solid #8bf;
}
tr.mult-train.times td:nth-child(3) {
	border-left: 1px solid #8bf;
}
.null {
	background-color: inherit !important;
	border: none !important;
}
tr.mult-train.times td {
	font-size: 14px;
}

.late td:nth-child(3) {
	color: #ffc47a;
}